body {
	background-color:black;
}

.main {
	background-image: url('../images/japan.gif');
	margin-top: 110px;
	padding-left: 100px;
	min-width: 1200px;
	height: 500px;
}

.ryu-ready, .ryu-still, .ryu-throwing, .ryu-cool {
	width: 659px;
	height: 494px;
}

.ryu-ready, .ryu-throwing, .ryu-cool, .canon {
	display: none;
}

.ryu-ready {
	background-image: url('../images/ryu-ready-position.gif');
}

.ryu-still {
	background-image:url('../images/ryu-standing-still.png');
}

.ryu-throwing {
	background-image:url('../images/ryu-throwing-hadouken.png');
}

.ryu-cool {
	background-image:url('../images/ryu-cool.gif');
}

.hadouken, .ryu-ready, .ryu-still, .ryu-throwing, .ryu-cool {
	background-repeat:no-repeat;
}

.hadouken {
	background-image: url('../images/hadouken.gif');
	width: 156px;
	height: 90px;
	display: none;
	position:relative;
	top:-324px;
	left:466px;
	float: left;
}

.controls {
	width:400px;
	height:200px;
	margin:auto;
	color:white;
	font-family:Courier;
	font-weight:bolder;
	text-align:center;
	font-size:30px;
}

#ctrlt{
	color:red;
}

.canon{
	position:absolute;
	top:146px;
	left:981px;
	font-family:courier;
	font-size:15px;
}